<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rabby.gamebooster">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <activity android:name=".presentation.ui.settings.SettingsActivity" />

        <activity android:name=".presentation.ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
